	/* .ydt_index{
		width: 100%;
		height: 100%;
		background-color: #F7F7F7;
	} */
/* 顶部 */

	.ydt_header_1 {
		width: calc(100% - 0rpx);
		height: 88rpx;
		/* position: fixed; */
		top: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		}
	/* 左-黑 */
	.ydt_top-left {
		width: 104%;
		height: 88rpx;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30rpx;
		color: #FFFFFF;
		background-color: #191A24;
		clip-path: polygon(0% 0%, 95% 0, calc(100%) 100%, 0 100%);
	}
	.ydt_header_1 image{
		width: 40rpx;
		height: 40rpx;
		/* margin-bottom: -4px; */
		
	}
	/* 右-红 */
	.ydt_top-right {
		width: 104%;
		height: 88rpx;
		flex-direction: row-reverse;
		align-items: center;
		position: relative;
		background: #C84241;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 30rpx;
		color: #FFFFFF;
		background-color: #C84241;
		clip-path: polygon(0% 0%, 20% 400%, calc(100%) 100%, 100% 0%);
	}
/* 头部导航 */
	.ydt_header-box {
		width: calc(100% - 5%);
		height: 120rpx;
		/* position: fixed; */
		 display: flex;
		background-color: #FFFFFF;
		}
	/* 左-logo */
	.logo{
		width: calc(50%);
		/* text-align: center; */
	}
	.logo image{
		width:274rpx ;
		height: 100rpx;
		margin-left: 10%;
		/* margin-top: 1%; */
	}
	/* 右-文字 */
	.nav-right{
		width:  calc(50% );
		text-align: center;
		display: flex;
		/* position: fixed; */
		float: right;
		/* margin-top: 10rpx; */
		justify-content: space-between;
		align-items: center;
		/* margin-top: 50rpx; */
	}	
	.img_2 text{
		font-size: 32rpx;
		color:#333333;
		}
/* banner开始 */
	.ydt_banner{
		height: 1100rpx;
	}
	.ydt_banner image{
		 width: 100%;
		 height: 100%;
	}